@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  background: black;
  min-height: 100vh;


}

.container {
  /*justify-content: center;*/
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  /*grid-template-columns:1fr 1fr 1fr;*/
;


}

.card {
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.4s;
}

.card::before {
  content: "";
  position: absolute;
  background: white;
  width: 50%;
  height: 100%;
  top: 0;
  left: 50px;
  border-radius: 10px;
  transform: skewx(15deg);
  transition: 0.4s;
}

.card::after {
  content: "";
  position: absolute;
  background: white;
  width: 50%;
  height: 100%;
  top: 0;
  left: 50px;
  border-radius: 10px;
  transform: skewx(15deg);
  transition: 0.4s;
  filter: blur(30px);
}

.card:hover::before,
.card:hover::after {
  transform: skewx(0);
  left: 20px;
  width: calc(100% - 80px);
}

.card:nth-child(1)::before,
.card:nth-child(1)::after {
  background: linear-gradient(315deg, #ffbc00, #ff0058);
}

.card:nth-child(2)::before,
.card:nth-child(2)::after {
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.card:nth-child(3)::before,
.card:nth-child(3)::after {
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.card span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.card span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  opacity: 0;
  transition: 0.4s;
}

.card:hover span::before {
  width: 100px;
  height: 100px;
  opacity: 1;
  left: 50px;
  top: -50px;
  animation: swing 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.card span::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  opacity: 0;
  transition: 0.4s;
}

.card:hover span::after {
  width: 100px;
  height: 100px;
  opacity: 1;
  right: 50px;
  bottom: -50px;
  animation: swing 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  animation-delay: -1s;
}

.content {
  z-index: 1;
  position: relative;
  left: 0;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 5px 15px #666362;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  padding: 20px 50px;
  transition: 0.4s;
  color: white;
}

.card:hover .content {
  left: -25px;
  padding: 40px 50px;
}

.card h2 {
  font-size: 1.9em;
  margin-bottom: 10px;
}

.card p {
  font-size: 0.95em;
  font-weight: 300;
  margin-bottom: 20px;
}

.card a {
  display: inline-block;
  text-decoration: none;
  background: white;
  color: #222;
  font-size: 1.1em;
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
}

@keyframes swing {
  0% {
    transform: translatey(10px);
  }

  50% {
    transform: translatey(-10px);
  }

  100% {
    transform: translatey(10px);
  }
}

/*.table-wrapper {*/
/*    background: #fff;*/
/*    padding: 20px 25px;*/
/*    margin: 30px 0;*/
/*    border-radius: 3px;*/
/*    box-shadow: 0 1px 1px rgba(0,0,0,.05);*/
/*}*/
/*.table-title {*/
/*    padding-bottom: 15px;*/
/*    background: #435d7d;*/
/*    color: #fff;*/
/*    padding: 16px 30px;*/
/*    margin: -20px -25px 10px;*/
/*    border-radius: 3px 3px 0 0;*/
/*}*/
/*.table-title h2 {*/
/*    margin: 5px 0 0;*/
/*    font-size: 24px;*/
/*}*/
/*.table-title .btn-group {*/
/*    float: right;*/
/*}*/
/*.table-title .btn {*/
/*    color: #fff;*/
/*    float: right;*/
/*    font-size: 13px;*/
/*    border: none;*/
/*    min-width: 50px;*/
/*    border-radius: 2px;*/
/*    border: none;*/
/*    outline: none !important;*/
/*    margin-left: 10px;*/
/*}*/
/*.table-title .btn i {*/
/*    float: left;*/
/*    font-size: 21px;*/
/*    margin-right: 5px;*/
/*}*/
/*.table-title .btn span {*/
/*    float: left;*/
/*    margin-top: 2px;*/
/*}*/
/*table.table tr th, table.table tr td {*/
/*    border-color: #e9e9e9;*/
/*    padding: 12px 15px;*/
/*    vertical-align: middle;*/
/*}*/
/*table.table tr th:first-child {*/
/*    width: 60px;*/
/*}*/
/*table.table tr th:last-child {*/
/*    width: 100px;*/
/*}*/
/*table.table-striped tbody tr:nth-of-type(odd) {*/
/*    background-color: #fcfcfc;*/
/*}*/
/*table.table-striped.table-hover tbody tr:hover {*/
/*    background: #f5f5f5;*/
/*}*/
/*table.table th i {*/
/*    font-size: 13px;*/
/*    margin: 0 5px;*/
/*    cursor: pointer;*/
/*}*/
/*table.table td:last-child i {*/
/*    opacity: 0.9;*/
/*    font-size: 22px;*/
/*    margin: 0 5px;*/
/*}*/
/*table.table td a {*/
/*    font-weight: bold;*/
/*    color: #566787;*/
/*    display: inline-block;*/
/*    text-decoration: none;*/
/*    outline: none !important;*/
/*}*/
/*table.table td a:hover {*/
/*    color: #2196F3;*/
/*}*/
/*table.table td a.edit {*/
/*    color: #FFC107;*/
/*}*/
/*table.table td a.delete {*/
/*    color: #F44336;*/
/*}*/
/*table.table td i {*/
/*    font-size: 19px;*/
/*}*/
/*table.table .avatar {*/
/*    border-radius: 50%;*/
/*    vertical-align: middle;*/
/*    margin-right: 10px;*/
/*}*/